whitebook_mule/wb_mule_rest/src/main/java/Product.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="rest.mule.whitehorses.nl" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema"    
           elementFormDefault="qualified"
           xmlns:tns="rest.mule.whitehorses.nl">

  <xs:element name="product" type="tns:Product"/>

  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="price" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>